
.container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
    border: 4px solid white;
    
  }
  
  .box {
    background-color: white;
    margin-bottom: 20px;
    border: 1px solid red;
  }
  
  #one{
    order: 1;
  }
  #two{
    order:2;
  }
  #three{
    order: 3;
  }
  #four{
    order:4;
  }
  #five{
    order:5;
  }

  .image {
    width: 100%;
    border-radius:2px;
    margin-bottom: 10px;
  }